<footer class="text-center text-lg-start mt-0 text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>TMMS
          </h6>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut
            deserunt molestias quaerat officia quibusdam earum atque minus
            ratione quos aperiam, doloremque vero provident voluptas ullam,
            natus neque, delectus blanditiis autem.
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a [routerLink]="['/tasks']" class="text-reset">Tasks</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Portsaid, Egypt</p>
          <p>
            <a
              href="mailto:mahmoud.tawfek.elsayed22@gmail.com"
              class="text-decoration-none"
              ><i class="fas fa-envelope me-3"></i>Mahmoud Tawfek</a
            >
          </p>
          <p>
            <a href="tel:01280968784" class="text-decoration-none">
              <i class="fas fa-phone me-3"></i>01280968784</a
            >
          </p>
          <p>
            <a href="tel:01095098498" class="text-decoration-none">
              <i class="fas fa-phone me-3"></i>01095098498</a
            >
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright:
    <a class="text-reset fw-bold" routerLink="/tasks">TMMS.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
